<app-navbar></app-navbar>
<div id="lessons_container">
  <div class="content_container">
    <h1>Activities</h1>
    <div *ngFor="let rule of rulesData">
      <h2>Golden Rule #{{ rule.number }}</h2>
      <hr>
      <mat-card class="lesson_list">
        <ul>
          <li *ngFor="let lesson of rule.lessons; let i = index" [routerLink]="['/goldenrule', rule.number, i+1, 0]">
            <h4>{{ lesson.title }}</h4>
            <h5>{{ lesson.type }}</h5>
          </li>
        </ul>
      </mat-card>
    </div>
  </div>
  <app-footer></app-footer>
</div>