<div id="home_container">
  <div id="home_header">
    <div id="logo_title_container">
      <h2>Scam Guard</h2>
    </div>
    <nav>
      <ul class="navigation_bar">
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/lessons">Activities</a>
        </li>
        <li>
          <a routerLink="/help">Help</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content_container">
    <div class="section_container">
      <h1 class="card_section_title">Learn and Practice</h1>
      <hr>
      <div class="card_container">
        <mat-card *ngFor="let rule of rules" [routerLink]="['/goldenrule', rule.number, 0, 0]">
          <h3>{{ rule.number }}</h3>
          <div class="link_card">
            <h4>Golden Rule #{{ rule.number }}</h4>
            <p>{{ rule.description }}</p>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="section_container" id="get_help_section">
      <h1 class="card_section_title">Get Help</h1>
      <hr>
      <div class="card_container">
        <a href="https://www.scamwatch.gov.au/">
          <mat-card>
            <img src="../../assets/images/scamwatch-logo-full.png" id="scamwatch_img">
            <div class="link_card">
              <h4>Scamwatch</h4>
              <p>Recognise, avoid and report scams.</p>
            </div>
          </mat-card>
        </a>
        <a href="https://www.idcare.org/">
          <mat-card>
            <img src="../../assets/images/idcare-logo-full.png" id="idcare_img">
            <div class="link_card">
              <h4>iDcare</h4>
              <p>Get support and recover from scams.</p>
            </div>
          </mat-card>
        </a>
        <a href="https://www.lifeline.org.au/">
          <mat-card>
            <img src="../../assets/images/lifeline-logo.png" id="lifeline_img">
            <div class="link_card">
              <h4>Lifeline</h4>
              <p>Get crisis support.</p>
            </div>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>